
@import url(http://fonts.googleapis.com/css?Montserrat:400,700|Roboto:400,400italic,700|Roboto+Mono);

// Defintion taken from minimalist style
// from hugo-academic
$sta-darken-percentage: 10%;
$sta-lighten-percentage: 10%;

$sta-font-size: 21;
$sta-font-size-small: 16;

$sta-font-body: 'Roboto';
$sta-font-heading: 'Montserrat';
$sta-font-nav: 'Roboto';
$sta-font-mono: 'Roboto Mono';

$sta-primary: #2962ff;
$sta-primary-light: lighten($sta-primary, $sta-lighten-percentage);
$sta-primary-dark: darken($sta-primary, $sta-darken-percentage);

$sta-link: #2962ff;
$sta-link-hover: #2962ff;

$sta-menu-primary: #fff;
$sta-menu-text: #34495e;
$sta-menu-text-active: #2962ff;
$sta-menu-title: #2b2b2b;

$sta-background: #fff;
$sta-dark-background: rgb(40, 42, 54);

$sta-home-section-odd: rgb(255, 255, 255);
$sta-home-section-even: rgb(247, 247, 247);

$sta-dark-home-section-odd: rgb(255, 255, 255);
$sta-dark-home-section-even: rgb(247, 247, 247);

// Call the modules
@import "bootstrap_variables";
@import "vendor/bootstrap/bootstrap";
@import "academic/academic";

// Own style definition
.pub-repr-img {
	margin-bottom: 1rem;
	display: block;
	border-radius: 10%;
}  

.pub-links li {
	display: inline;
	list-style-type: none;
	padding-right: 10px;
  }

.pub-description b {
	margin-top: 0em;
}
