<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{{ config.title }}{% endblock title %}</title>
	<link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">

	<!-- For fonts -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css" integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/18aa21ed87.js" crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-main">
		<a class="navbar-brand" href="{{ get_url(path="/") }}">{{ config.extra["name"] }}</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
			aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-content">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="{{ get_url(path="/") }}"
						data-target="#hero"><span>Home</span></a></li>
				<li class="nav-item"><a class="nav-link" href="{{ get_url(path="/publication/") }}"
						data-target="#publications"><span>Publications</span></a></li>
				<li class="nav-item"><a class="nav-link" href="{{ get_url(path="/others/") }}"
						data-target="#others"><span>Others</span></a></li>
			</ul>
		</div>
	</nav> 
	<main class="content">
		{% block content %}
		<section id="about" class="home-section">
			<div class="container">
				<div class="row" itemprop="author" itemscope="" itemtype="http://schema.org/Person"
					itemref="person-email person-address">
					<div class="col-xs-12 col-md-4">
						<div id="profile">
							<img class="portrait" src="img/me.jpg">
							<meta itemprop="image" content="img/me.jpg">

							<div class="portrait-title">
								<h2 itemprop="name">{{config.extra["name"]}}</h2>
								<h3 itemprop="jobTitle">{{config.extra["job_title"]}}</h3>
								{% for entry in config.extra["job_departement"] %}
								<h3 itemprop="worksFor" itemscope="" itemtype="http://schema.org/Organization">
									<a href="{{ entry[1] }}" target="_blank" itemprop="url" rel="noopener">
										<span itemprop="name">{{ entry[0] }}</span>
									</a>
								</h3>
								{% endfor %}
							</div>

							<link itemprop="url" href="https://beltegeuse.github.io/research/">
							<ul class="network-icon" aria-hidden="true">
								<li>
									<a itemprop="sameAs" href="mailto:adrien.gruson@gmail.com" target="_blank"
										rel="noopener">
										<i class="fas fa-envelope big-icon"></i>
									</a>
								</li>

								<li>
									<a itemprop="sameAs" href="https://scholar.google.co.uk/citations?user=s_FseDAAAAAJ"
										target="_blank" rel="noopener">
										<i class="ai ai-google-scholar ai-2x"></i>
									</a>
								</li>

								<li>
									<a itemprop="sameAs" href="//github.com/beltegeuse" target="_blank" rel="noopener">
										<i class="fab fa-github big-icon"></i>
									</a>
								</li>

							</ul>

						</div>
					</div>
					<div class="col-xs-12 col-md-8" itemprop="description">
						<h1 id="biography">Biography</h1>
						{{ config.extra["biography"] | markdown | safe }}

						<div class="row">
							<div class="col-sm-5">
								<h3>Interests</h3>
								<ul class="ul-interests">
									{% for interest in config.extra["interests"] %}
									<li>{{ interest }}</li>
									{% endfor %}

								</ul>
							</div>


							<div class="col-sm-7">
								<h3>Education</h3>
								<ul class="ul-edu fa-ul">
									{% for entry in config.extra["education"] %}
									<li>
										<i class="fa-li fa fa-graduation-cap"></i>
										<div class="description">
											<p class="course">{{ entry[0] }}</p>
											<p class="institution">{{ entry[1] }}</p>
										</div>
									</li>
									{% endfor %}
								</ul> 
							</div>
						</div>
						<div class="row">
							<h3>Peer-reviewing conflicts</h3>
							Automatically generated from publications in the last two years:
							{% set publications = get_section(path="publication/_index.md") %}
							{% set time_now = now() | date(format="%s") | int %}
							{% set_global conflicts = [] %}

							{# Collect all authors from last two years #}
							{% for pub in publications.pages %}
								{% set curr_date = pub.date | date(format="%s") | int %}
								{% if curr_date + 2*31556926 > time_now %}
									{% set authors = pub.extra.authors | map(attribute="name") %}
									{% set_global conflicts = conflicts | concat(with=authors) %}
								{% endif %}
							{% endfor %}

							{# Remove duplicate authors and sort the list #}
							{% set conflicts_unique = conflicts | sort | unique | safe %}

							{# Remove the website authors #}
							{% set_global conflicts = [] %}
							{% for a in conflicts_unique %}
								{% if a != "Adrien Gruson" %}
									{% set_global conflicts = conflicts | concat(with=a) %}
								{% endif %}
							{% endfor %}
							
							<p>{{ conflicts | join(sep=", ") }}.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endblock content %}
	</main>

	<!-- Imported from hugo-academics -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	{% block scripts %}
	<!-- To include additional script -->
	{% endblock scripts %}
</body>

</html>