{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block content %}
<section id="publications">
		<div class="container">
			<br/>
			<div class="col section-heading">
				<h1>Publications</h1>
			</div>
			<br/>
			{% for pub in section.pages %}
			<div class="row">
				<div class="col-2 d-none d-lg-block">
					<img class="img-thumbnail pub-repr-img"
						src="{{ get_url(path="/publication/" ~ pub.extra.image_preview) }}" />
				</div>
				<div class="col-10">
					<a href="{{ pub.permalink }}">{{ pub.title | title }}</a>
					<div class="pub-author" itemprop="text">
						{{ pub.extra.authors | map(attribute="name") | join(sep=", ") | replace(from="Adrien Gruson", to="**Adrien Gruson**") | markdown(inline=true) | safe }}
						{% if pub.extra is containing("join_first") %}
							(join first authors)
						{% endif %} <br/>
					</div>
					<div itemprop="text">
						<i class="fas fa-lightbulb"></i> "{{ pub.extra.short_description }}"
					</div>
					<div class="pub-publication" style="color: #090">
						{{ pub.extra.publication | markdown(inline=true) | safe }}
					</div>
					
					{% if pub.extra.download %}
					<ul class="fa-ul pub-links">
						{% set project_entry = pub.extra.download | filter(attribute="type", value="project") | first %}
						{% if project_entry %}
							<!-- If we have project type, we only show this type -->
							<li class="fa-li">
								<i class="fas fa-globe-americas">
								</i>
								<a href="{{ project_entry.url }}">
									Project page
								</a>
							</li>
						{% else %}
							{% for entry in pub.extra.download %}
								{% if entry.type == 'paper' %}
								<li class="fa-li">
									<i class="fas fa-file-pdf">
									</i>
									<a href="{{ entry.url }}">
										Paper
									</a>
								</li>
								{% elif entry.type == 'doi' %}
								<li class="fa-li">
									<i class="fas fa-atlas">
									</i>
									<a href="{{ entry.url }}">
										Publisher's version
									</a>
								</li>
								{% elif entry.type == 'code' %}
								<li class="fa-li">
									<i class="fab fa-github">
									</i>
									<a href="{{ entry.url }}">
										Code
									</a>
								</li>
								{% elif entry.type == 'poster' %}
								<li class="fa-li">
									<i class="fas fa-portrait">
									</i>
									<a href="{{ entry.url }}">
										Poster
									</a>
								</li>
								{% elif entry.type == 'slides' %}
								<li class="fa-li">
									<i class="far fa-file-powerpoint"></i>
									<a href="{{ entry.url }}">
										Slides
									</a>
								</li>
								{% endif %}
							{% endfor %}

							{% set groups = pub.extra.download | group_by(attribute="type") %}
							{% if groups.additional %}
							<li class="fa-li">
								<i class="fas fa-ellipsis-h"></i>
								<a href="{{ pub.permalink }}">
									More
								</a>
							</li>
							{% endif %}
						{% endif %}
					</ul>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</section>

	<!-- Other sections -->
	<section id="phdThesis" class="home-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12 section-heading">
					<h1>PhD Thesis</h1>
				</div>
				<br/>
				<div class="col-xs-12 col-md-12">
					<div class="col-md-12">
						<img src="{{ get_url(path="img/phd.png") }}" class="pub-banner" itemprop="image">
					</div>
					<div class="col-md-12">
						<h3 class="article-title" itemprop="name">
							Toward more Realism and Robustness in Global Illumination <a
								class="btn btn-primary btn-outline btn-xs"
								href="http://beltegeuse.s3-website-ap-northeast-1.amazonaws.com/research/2015_PhD_Gruson.pdf">PDF</a>
						</h3>
					</div>
					<div class="col-md-12">
						<div class="pub-publication">
							July, 2015. Rennes 1 University.
						</div>
					</div>
					<div class="col-md-12">
						<table>
							<tbody>
								<tr>
									<td class="span2" align="right"> Chair: &nbsp;&nbsp; </td>
									<td class="span10"> <a href="http://lmorin.perso.insa-rennes.fr/"> Luce
											Morin</a>, INSA Rennes, France </td>
								</tr>

								<tr>
									<td class="span2" align="right"> Reviewers: &nbsp;&nbsp; </td>
									<td class="span10"> <a href="http://perso.telecom-paristech.fr/~boubek/"> Tamy
											Boubekeur</a>, Telecom ParisTech, France </td>
								</tr>

								<tr>
									<td class="span2"> </td>
									<td class="span10"> <a href="http://graphics.tudelft.nl/~eisemann/"> Elmar
											Eisemann</a>, TU Delft, Netherlands </td>
								</tr>

								<tr>
									<td class="span2" align="right"> Examiner: &nbsp;&nbsp; </td>
									<td class="span10"> <a href="http://cgg.mff.cuni.cz/~jaroslav/"> Jaroslav
											Krivanek</a>, Charles University, Czech Republic </td>
								</tr>

								<tr>
									<td class="span2" align="right"> Supervisors: &nbsp;&nbsp; </td>
									<td class="span10"> <a href="http://www.irisa.fr/frvsense/Kadi.Bouatouch/"> Kadi
											Bouatouch</a>, Rennes 1 University, France </td>
								</tr>

								<tr>
									<td class="span2" align="right"> </td>
									<td class="span10"> <a href="http://cozot.free.fr/"> Remi Cozot</a>, Rennes 1
										University, France </td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}