{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block content %}
<section id="publications">
		<div class="container">
			<div class="article-container">
				<h1>{{ page.title | title }}</h1>
				<span class="pub-authors">
					<p>
					{% if page.extra.join_first %}
						{% for author in page.extra.authors | slice(end=2) %}
							{{macros::one_author_with_link(author=author, websites=config.extra.websites) | trim }}*, {{ author.institution }} <br/>
						{% endfor %}
						{% for author in page.extra.authors | slice(start=2) %}
							{{macros::one_author_with_link(author=author, websites=config.extra.websites) | trim }}, {{ author.institution }} <br/>
						{% endfor %}
					{% else %}
						{% for author in page.extra.authors %}
							{{macros::one_author_with_link(author=author, websites=config.extra.websites) | trim }}, {{ author.institution }} <br/>
						{% endfor %}
					{% endif %}
					In {{ page.extra.publication | markdown(inline=true) | safe }} <br />
					{% if page.extra is containing("join_first") %}
						(*Authors with equal contribution)
					{% endif %}
					</p>

					<img src="{{ get_url(path="/publication/" ~ page.extra.image) }}" class="pub-banner" itemprop="image">

					<h3>Abstract</h3>
					<p class="pub-abstract" > {{ page.extra.abstract | markdown(inline=true) | safe }} </p>

					<h3>Downloads</h3>

					{% set dls = page.extra.download | group_by(attribute="type") %}
					{% if dls.project %}
					<h4>Project page</h4>
					<ul class="fa-ul">
					<li>
						<span class="fa-li">
							<i class="fas fa-external-link-alt"></i>
						</span>
						<a href={{ dls.project[0].url }}>External project website</a>
					</li>
					</ul>
					{% endif %}

					{% if dls.doi or dls.paper or dls.poster %}
					<h4>Publication</h4>
					<ul class="fa-ul">
						{% if dls.paper %}
						<li>
							<span class="fa-li">
								<i class="fas fa-file-pdf"></i>
							</span>
							<a href={{ dls.paper[0].url }}>Paper (author's version), PDF</a>
						</li>
						{% endif %}
						{% if dls.doi %}
						<li><span class="fa-li"><i class="fas fa-atlas"></i></span>
							<a href="{{ dls.doi[0].url }}">Publisher's official version</a> – external link, may require a subscription
						</li>
						{% endif %}
						{% if dls.poster %}
						<li><span class="fa-li"><i class="fas fa-portrait"></i></span>
						<a href="{{ dls.poster[0].url }}">Poster</a> 
						</li>
						{% endif %}
					</ul>
					{% endif %}

					{% if dls.code %}
					<h4>Code & Data</h4>
					<ul class="fa-ul">
						<li>
							<span class="fa-li">
								<i class="fab fa-github"></i>
							</span>
							<a href={{ dls.code[0].url }}>Public repository</a>
						</li>
					</ul>
					{% endif %}

					{% if dls.slides or dls.video %}
					<h4>Presentation & Video</h4>
					<ul class="fa-ul">
						{% if dls.slides %}
						<li>
							<span class="fa-li">
								<i class="far fa-file-powerpoint"></i>
							</span>
							<a href={{ dls.slides[0].url }}>Slides, PPTX</a>
						</li>
						{% endif %}
						{% if dls.video %}
						<li>
							<span class="fa-li">
								<i class="fas fa-video"></i>
							</span>
							<a href={{ dls.video[0].url }}>Video</a>
						</li>
						{% endif %}
					</ul>
					{% endif %}

					{% if dls.additional %}
					{% for add in dls.additional %}
					<h4>Additional</h4>
					<ul class="fa-ul">
						<li>
							<span class="fa-li">
								<i class="far fa-plus-square"></i>
							</span>
							<a href={{ add.url }}>{{add.desc}}</a>
						</li>
					</ul>	
					{% endfor %}
					{% endif %}

					{{ page.content | markdown | safe }}
					
					<h3>Cite</h3>
					{{ macros::authors_with_link(authors=page.extra.authors, websites=config.extra.websites, final=" and ")}}. <b>{{ page.title | title }}</b>, {{ page.extra.publication | markdown(inline=true) | safe }}
					
					{% if page.extra.bibtex %}
					<div>
						<pre class="bibtex-box">
<code id="bibtex">{{ page.extra.bibtex | safe }}</code>
							<div class="btn-clipboard" id="clipboard-copy" data-clipboard-target="#bibtex" data-text-swap="Copied!">
								<i class="far fa-copy"></i> Copy to clipboard
							</div>
						</pre>  
					</div>
					{% endif %}

				</div>
			</div>
		</div>
</section>
{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script type="text/javascript">
  $(".btn-clipboard").on("click", function() {
    var el = $(this);
    if (el.text() == el.data("text-swap")) {
      el.text(el.data("text-original")); 
    } else {
      el.empty();
      el.append('<i class="fas fa-check"></i> ' + el.data("text-swap")); 
      el.text(el.data("text-original")).delay(1);
    }
  });

  var clipboard = new ClipboardJS('#clipboard-copy');

  clipboard.on('success', function(e) {
    console.log(e);
  });

  clipboard.on('error', function(e) {
    console.log(e);
  });
</script>
{% endblock scripts %}